<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Update credentials</title>
    <link media="all" rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
    <link rel="shortcut icon" th:href="@{/img/favicon.png}" type="image/x-icon">
    <script async th:src="@{/js/script.js}" type="text/javascript"></script>
</head>
<body>
<div th:replace="~{fragments/navbar::header(${user.username})}"></div>
<h1>Update user credentials</h1>
<form method="post" th:action="@{/profile/credentials}">
    <label for="currentPassword">Current password: </label>
    <input id="currentPassword" name="currentPassword" placeholder="Enter your current password" required
           type="password">
    <small th:if="${currentPasswordError}" th:text="${currentPasswordError}"></small>

    <br>
    <label for="newPassword">New password: </label>
    <input id="newPassword" name="newPassword" placeholder="Enter your new password" required type="password">
    <small th:if="${error}" th:text="${error}"></small>
    <br>
    <small th:if="${shortMessage}" th:text="${shortMessage}"></small>

    <br>
    <label for="newPasswordConfirm">Confirm your password: </label>
    <input id="newPasswordConfirm" name="newPasswordConfirm" placeholder="Confirm your new password" required
           type="password">
    <small th:if="${error}" th:text="${error}"></small>

    <br>
    <input type="submit" value="Update credentials">
</form>
</body>
</html>
