<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Update credentials</title>
    <link media="all" rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
    <link rel="shortcut icon" th:href="@{/img/favicon.png}" type="image/x-icon">
    <script async th:src="@{/js/script.js}" type="text/javascript"></script>
</head>
<body>
<div th:replace="~{fragments/navbar::header(${user.username})}"></div>
<main>
    <form class="container" method="post" th:action="@{/profile/credentials}">
        <h1 class="title">Update user credentials</h1>

        <div class="form-input">
            <label for="currentPassword" class="label">Current password</label>
            <input type="password" id="currentPassword" name="currentPassword" required enterkeyhint="next"
                   placeholder="Enter your current password">
            <small th:if="${currentPasswordError}" th:text="${currentPasswordError}" class="label error"></small>
        </div>

        <div class="form-input">
            <label for="newPassword" class="label">New password</label>
            <input type="password" id="newPassword" name="newPassword" required enterkeyhint="next"
                   placeholder="Enter your new password">
            <small th:if="${error}" th:text="${error}"></small>
            <small th:if="${shortMessage}" th:text="${shortMessage}" class="label error"></small>
        </div>

        <div class="form-input">
            <label for="newPasswordConfirm" class="label">Confirm your password</label>
            <input type="password" id="newPasswordConfirm" name="newPasswordConfirm" required enterkeyhint="done"
                   placeholder="Confirm your new password">
            <small th:if="${error}" th:text="${error}" class="label error"></small>
        </div>

        <input class="btn-form" type="submit" value="Update credentials">
    </form>
</main>
</body>
</html>
