<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>My profile</title>
    <link media="all" rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
    <link rel="shortcut icon" th:href="@{/img/favicon.png}" type="image/x-icon">
    <script async th:src="@{/js/script.js}" type="text/javascript"></script>
</head>
<body>
<div th:replace="~{fragments/navbar::header(${username})}"></div>
<div>
    <h1>Edit details</h1>
    <form method="post" th:action="@{/profile/update}">

        <input name="id" th:value="${id}" type="hidden">

        <label for="firstName">First name: </label>
        <input id="firstName" name="firstName" placeholder="Enter your first name" required th:value="${firstName}"
               type="text">
        <small class="error" th:if="${firstNameMsg}" th:text="${firstNameMsg}"></small>

        <br>
        <label for="lastName">Last name: </label>
        <input id="lastName" name="lastName" placeholder="Enter your last name" required th:value="${lastName}"
               type="text">
        <small class="error" th:if="${lastNameMsg}" th:text="${lastNameMsg}"></small>

        <br>
        <input type="submit" value="Update">
    </form>

    <br>
    <a th:href="@{/profile/credentials}">Update password</a>

    <br>
    <a th:href="@{/logout}">Logout</a>

</div>
</body>
</html>
