<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Create account</title>
    <link media="all" rel="stylesheet" th:href="@{/css/auth.css}" type="text/css">
    <link rel="shortcut icon" th:href="@{/img/secure.png}" type="image/x-icon">
</head>
<body>
<div class="form-container">
    <h1>Register</h1>
    <form method="post" th:action="@{/register}" th:object="${user}">
        <label>
            First name:
            <input name="firstname" placeholder="Firstname" required th:field="*{firstName}" type="text">
            <small class="error" th:errors="*{firstName}" th:if="${#fields.hasErrors('firstName')}">FIRSTNAME
                ERROR</small>
        </label>
        <br>
        <label>
            Last name:
            <input name="lastname" placeholder="Lastname" required th:field="*{lastName}" type="text">
            <small class="error" th:errors="*{lastName}" th:if="${#fields.hasErrors('lastName')}">LAST NAME</small>
        </label>
        <br>
        <label>
            Username:
            <input name="username" placeholder="Username" required th:field="*{username}" type="text">
            <small class="error" th:errors="*{username}" th:if="${#fields.hasErrors('username')}">USERNAME</small>
        </label>
        <br>
        <label>
            Password:
            <input name="password" placeholder="Password" required th:field="*{password}" type="password">
            <small class="error" th:errors="*{password}" th:if="${#fields.hasErrors('password')}">PASSWORD</small>
        </label>
        <br>
        <input type="submit" value="Create account">
        <a th:href="@{/login}">Already have an account?</a>
    </form>
</div>
</body>
</html>
