@use "sass:math";

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    display: flex;
    flex-flow: row wrap;
    padding: 8px;
    align-content: center;
    align-items: center;

    box-shadow: 0 0 12px rgba(3, 3, 3, .3);

    .navbar-links {
        flex-direction: column;
        color: black;

        .title {
            margin-right: .2em;
            color: inherit;
        }

        .subtitle {
            margin-left: .2em;
            color: inherit;
        }
    }

    .navbar-image-container {
        width: 50px;
        margin-left: auto;
        box-shadow: 0 0 9px rgba(0, 0, 0, .2);
        border-radius: 100%;
        padding: 3px;

        .navbar-image {
            width: 100%;
        }
    }
}

@keyframes buttonAnimation {
    from {
        scale: 1;
    }
    to {
        scale: 1.2;
    }
}

@mixin btn-hover($color: $primary) {
    &:hover {
        background-color: darken($color, 15) !important;
        animation: buttonAnimation 300ms ease-out;
        scale: 1.2;
        box-shadow: 3px 3px 12px rgba(0, 0, 0, .6);
    }
}

@mixin card {
    border-radius: 12px;
    box-shadow: 4px 1px 15px rgba(0, 0, 0, .2);
}

@mixin button($background: $buttonColor) {
    padding: 0 1.2rem;
    background-color: $background;
    border-radius: .25rem;
    display: inline-block;
    margin: .75em 0;
    font-family: $defaultFont !important;
    box-sizing: border-box;
    &:hover {
        cursor: pointer;
    }
}

.btn {
    @include button;
    border: 0;
    padding: .2rem 1.2rem;
    color: white;

    &:hover {
        background-color: darken($buttonColor, 15);
    }
}

.btn-outline {
    @include button(white);
    border: 1px solid $buttonColor;
    color: $primary;
    padding: .2rem 1.2rem;

    &:hover {
        color: white;
        background-color: $buttonColor;
    }
}

.btn-error {
    @extend .btn;
    color: white !important;
    background-color: $error !important;
    @include btn-hover($error);
}

.btn-alert {
    @extend .btn;
    @include btn-hover($primary);
}

.btn-secondary {
    @extend .btn;
    background-color: $secondary !important;
    @include btn-hover($secondary);
}

.btn-form {
    @extend .btn;
    text-align: center;
    box-shadow: 3px 3px 12px rgba(3, 3, 3, .3);

    &:hover {
        background-color: darken($buttonColor, 21);
    }
}

.btn-form-danger {
    @extend .btn-form;
    background-color: $error;
    box-shadow: 3px 3px 12px rgba(3, 3, 3, .3);

    &:hover {
        background-color: darken($error, 21);
    }
}

.card-container {
    padding: 6em 1em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
    grid-template-rows: auto;
    justify-content: center;
    gap: 3rem;
    margin: 0 auto;

    .topic-card {
        @include card;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-content: center;

        .card-footer {
            margin: 0 auto;
            display: flex;
            gap: .3em;
        }
    }
}

dialog {
    border: 1px solid rgba(3, 3, 3, .15);
    border-radius: 12px;
    margin: auto;

    .modal {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        padding: .6em 1em;

        form {
            all: unset;
        }

        .modal-header {
            font-size: $subtitle;
            font-weight: 600;
        }

        .modal-content {
            margin: .3em .6em;

            input {
                line-height: 1.5em;
            }
        }

        .modal-footer {
            display: flex;
            justify-content: end;
            gap: .6em;

            button {
                animation: none !important;
                scale: none !important;

                &:hover {
                    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
                }
            }
        }
    }

    &::backdrop {
        background-color: rgba(3, 3, 3, .81);
    }
}

.fab {
    @include button;
    color: white;
    width: 4.5rem;
    height: 4.5rem;
    line-height: 100%;
    text-align: center;
    align-content: center;

    border: 0;
    border-radius: 50%;

    margin: 1em;

    position: fixed;
    bottom: 0;
    right: 0;

    font-size: $mediumFont;
    font-weight: 600;

    &::after {
        content: '+';
    }
}
