*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 1em;
}

@import "themes";
@import "typography";
@import "components";

body {
    font-family: $defaultFont;

    .title {
        font-size: $title;
        font-weight: 800;
    }

    .subtitle {
        font-size: $subtitle;
        font-weight: 600;
    }

    h1, h2, h3 {
        margin-top: 2rem;
        margin-bottom: .75rem;
        display: inline-block;
    }

    p {
        margin-top: .5rem;
        margin-bottom: 1.15rem;
    }

    ul {
        margin-left: 2em;

        li {
            list-style: none;
        }
    }
}

.error {
    color: $error !important;
}

.error-label {
    @extend .error;
    background-color: lighten($error, 30%);
    padding: .6em;
    border-radius: .3em;
    text-align: center;
}

.column-centered {
    display: block;
    text-align: center;
    width: 100%;
}

.container {
    width: 70%;
    margin: 10rem auto;
    padding: 20px;
}

form {
    width: 34vw;
    min-width: 300px;
    max-width: 500px;
    border: 0;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .3);
    padding: 30px;
    margin: 4em auto;

    .form-input {
        display: flex;
        flex-flow: column wrap;
        width: 100%;
        margin: 0 auto;
        padding: .3em 0;

        .label {
            font-size: $smallFont;
            margin: .1em;
        }

        input[type="text"], input[type="password"] {
            font-size: $defaultFontSize;
            padding: .2em;
            border-radius: 4px;
            border: 1px solid darken(white, 45%);
            display: inline-block;
        }

    }
}
