<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="card" th:fragment="topic-card(topic)">
    <div class="card-header">
        <p class="title" th:text="${topic.name}"></p>
    </div>
    <div class="card-footer">
        <a class="btn-error" th:href="@{/topic/delete/{id}(id=${topic.id})}">Delete</a>
        <a class="btn-alert">Edit</a>
        <a class="btn-secondary" th:href="@{/topics/{topicName}(topicName=${topic.name})}">Subjects</a>
    </div>
</div>
</body>
</html>
