<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<!--region Card specific to topics -->
<div class="card" th:fragment="topic-card(topic)">
    <div class="card-header">
        <p class="title" th:text="${topic.name}"></p>
    </div>
    <div class="card-footer">
        <a class="btn-error" th:href="@{/topic/delete/{id}(id=${topic.id})}">Delete</a>
        <a class="btn-secondary" th:href="@{/topics/{topic}(topic=${topic.slug})}">Subjects</a>
    </div>
</div>
<!--endregion-->

<!--region Card specific for subjects -->
<div class="subject-card" th:fragment="subject-card(subject)">
    <div class="subject-card_top">
        <p class="subject-card__title" th:text="${subject.content}"></p>
    </div>
    <div class="subject-card_bottom">
        <a class="subject-card__anchor" th:text="${subject.topic.name}"
           th:href="@{/topics/{topic}(topic=${subject.topic.slug})}" title="Go to topic"></a>
        <div class="subject-card__actions">
            <a class="btn-error" th:href="@{/subject/delete/{id}/{next}(id=${subject.id},next=${subject.topic.slug})}">
                Delete
            </a>
        </div>
    </div>
</div>
<!--endregion-->
</body>
</html>
