<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<body>
<header class="navbar" th:fragment="header(username)">
    <nav class="navbar-links">
        <a class="title" th:href="@{/home}" th:text="${@applicationName}" th:title="${@applicationName + ' Home'}"></a>
        <a class="subtitle" th:href="@{/subjects}" title="View all subjects">Subjects</a>
    </nav>
    <a class="navbar-image-container" th:href="@{/profile}">
        <img class="navbar-image" th:alt="${username}" th:src="@{/img/user.png}" th:title="${username}">
    </a>
</header>
</body>
</html>
