$primary: #90fc9a75;
$primaryInverse: #90fc9a;
$background: rgba(255, 255, 255, 0.5);
$backgroundInverse: rgba(255, 255, 255, 0.3);
$textColor: black;


nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: $background;
    border: 1px solid $backgroundInverse;
    border-radius: 9px;
    padding: 12px;
    font-family: "Roboto", sans-serif;
}

.title {
    font-style: oblique;
    color: $textColor;
    font-size: 27px;
    font-weight: 600;
    text-decoration: none;
    padding-top: 12px;
    padding-bottom: 12px;

    abbr {
        text-decoration: none;
        align-self: center;
        padding: 0;
    }
}

.profile {
    margin: 3px;
    padding: 12px;
    border-radius: 50px;
    color: $textColor;
    background-color: $primary;

    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
    flex-shrink: 0;

    font-size: 10px;
    text-decoration: none;

    img {
        width: 33px;
    }

}

.profile:hover {
    cursor: pointer;
    color: $textColor;
    background-color: $primaryInverse;
}

