<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Topics</title>
    <link media="all" rel="stylesheet" th:href="@{/css/header.css}" type="text/css">
    <link media="all" rel="stylesheet" th:href="@{/css/main.css}" type="text/css">
    <script async th:src="@{/js/script.js}" type="text/javascript"></script>
</head>
<body>
<div th:replace="~{fragments/navbar::header (${username})}"></div>
<main>
    <div class="card-list">
        <div class="topic-card" th:each="topic : ${topics}">
            <h2 th:text="${topic.name}">TOPIC NAME</h2>
            <a class="btn secondary" href="#">Subjects</a>
            <a class="btn danger" href="#">Delete</a>
        </div>
    </div>
    <a class="fab" th:href="@{/topic/new}">Add topic</a>
</main>
</body>
</html>
