<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Topics</title>
    <link media="all" rel="stylesheet" th:href="@{/css/header.css}" type="text/css">
    <link media="all" rel="stylesheet" th:href="@{/css/main.css}" type="text/css">
    <script async th:src="@{/js/script.js}" type="text/javascript"></script>
</head>
<body>
<div th:replace="~{fragments/navbar::header (${username})}"></div>
<main>
    <div class="card-list">
        <form class="topic-card" method="post" th:action="@{/topic/delete}" th:each="topic : ${topics}">
            <h2 th:text="${topic.name}">TOPIC NAME</h2>
            <a class="btn secondary" th:href="@{/subjects/{topic}(topic=${topic.name})}">Subjects</a>
            <input name="id" th:value="${topic.id}" type="hidden">
            <input class="btn danger" th:value="Delete" type="submit">
        </form>
    </div>
    <a class="fab" th:href="@{/topic/new}">Add topic</a>
</main>
</body>
</html>
