<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Create topic</title>
    <link media="all" rel="stylesheet" th:href="@{/css/header.css}" type="text/css">
    <link media="all" rel="stylesheet" th:href="@{/css/auth.css}" type="text/css">
</head>
<body>
<div th:replace="~{fragments/navbar::header(${username})}"></div>
<div>
    <h1>Create topic</h1>
    <form method="post" th:action="@{/topic/new}" th:object="${topic}">
        <label for="topicName">Topic name</label>
        <input id="topicName" name="topicName" placeholder="Enter the name of the topic" required th:field="*{name}"
               type="text">
        <small class="error" th:errors="*{name}" th:if="${#fields.hasErrors('name')}"></small>

        <br>
        <input type="submit" value="Create topic">
    </form>
</div>
</body>
</html>
