<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title th:text="${title}"></title>
    <link media="all" rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
    <link rel="shortcut icon" th:href="@{/img/favicon.png}" type="image/x-icon">
    <script async th:src="@{/js/script.js}" type="text/javascript"></script>
</head>
<body>
<div th:replace="~{fragments/navbar::header(${username})}"></div>
<dialog>
    <div class="modal-header">
        <p class="modal-title">Add new topic</p>
    </div>
    <div class="modal-main">
        <form method="post" th:action="@{/subject/new}">

            <label for="content">Content</label>
            <input id="content" name="content" placeholder="Enter a subject" required type="text">
            <br>
            <small class="error" style="display: none">Cannot create an empty subject</small>

            <input name="topic" th:if="${topic}!=null" th:value="${topic.id}" type="hidden">
            <input name="topicName" th:if="${topic}!=null" th:value="${topic.name}" type="hidden">

            <br>
            <select name="topic" required th:if="${topic}==null" th:label="Exception">
                <option value="none">--Select a topic--</option>
                <option th:each="t : ${topics}" th:text="${t.name}" th:value="${t.id}"></option>
            </select>
            <br>
        </form>
    </div>
    <div class="modal-footer">
        <button class="modal-button" formmethod="dialog" id="modal-button-cancel">Cancel</button>
        <button class="modal-button" id="modal-button-confirm">Add subject</button>
    </div>
</dialog>
<main>
    <div th:each="subject : ${subjects}">
        <p th:text="${subject.content}"></p>
        <p>
            <strong>Topic:</strong>
            <span th:text="${subject.topic.name}"></span>
        </p>
    </div>
    <button class="fab">Add subject</button>
</main>
</body>
</html>
